html {
    background-color: tan;
    padding: 20px;
    font-size: 100%;
    margin-left;
  }
#content, #image {
  padding: 50px, brown;
  background: 50px;
  background-color: brown;
  border-radius: 30px;
  border-style: dotted;
  border-color: blue;

}
#image {
  float: right;

}
#content{
  font-family: sans-serif,cursive;
  margin-left: 30px;
}
p {
  margin-right: 50px;
  font-family: "Courier New", Courier, monospace;
}
img {
  width: 200px;
  background: purple;
}
h1 {
  font-family: "Lucida Console", Monaco, monospace;
}
