html {
  background-color: tan
}
nav {
  border: solid 3px black;
}
header {
  border: solid 3px black;
}
footer {
  border: solid 3px black;
}
main {
  border: solid 3px black;
}
aside {
  border: solid 3px black;
}
