html {
  font-family: 'Krona One', sans-serif;
  background-color: lightblue;
}
img {
  border: solid 3px lightgray;

  box-shadow: 5px 5px brown;
border-radius: 0 25px;
border: 2px brown solid;
position: relative;
height: auto;
transition: all 1s;
}
img:hover {
  width: 800px;

}
