html {
    background-color: tan;
    padding: 20px;
    font-size: 100%;
  }
  h1 {
    letter-spacing: 10px;
    color: green;
    font-family: "Courier New", Courier, monospace;

  }
body {
  background: 20px;
  background-color: red;
  padding: 30px;
  border: 50px;
  border-style: dotted;
  border-radius: 30px;
}
p {
  margin-right: 50px;
  margin-left: 100px;
  word-spacing: 10px;
  color: white;
  font-family: 'Bangers', cursive;
}
a {
  text-decoration: none;
  color: white;
  font-family: 'Josefin Sans', sans-serif;
}
